<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":20,"overlayColor":"theme-4","isUserOverlayColor":true,"isDark":false,"className":"is-style-default","style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-1"}}},"spacing":{"margin":{"top":"0","bottom":"0"}}},"textColor":"theme-1","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light is-style-default has-theme-1-color has-text-color has-link-color" style="margin-top:0;margin-bottom:0"><span aria-hidden="true" class="wp-block-cover__background has-theme-4-background-color has-background-dim-20 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"style":{"typography":{"textAlign":"center"}},"fontSize":"xxx-large"} /--></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"blockGap":"0","margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:post-content {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->