<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

    <!-- wp:pattern {"slug":"fashion-nook/featured-category-hero-cover"} /-->

    <!-- wp:pattern {"slug":"fashion-nook/product-collection-static"} /-->

    <!-- wp:pattern {"slug":"fashion-nook/featured-categories-double"} /-->

    <!-- wp:pattern {"slug":"fashion-nook/hero-headline"} /-->

    <!-- wp:pattern {"slug":"fashion-nook/featured-category-cover"} /-->

    <!-- wp:pattern {"slug":"fashion-nook/customer-reviews-static"} /-->

    <!-- wp:pattern {"slug":"fashion-nook/social-instagram-feed"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->